body {
    text-align: center;
    margin: 0em;
    padding: 0em;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);

    /*FUENTES*/
    font-family: 'Inria Serif', '';
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;

}
.container {
    width: 90%; 
    margin: 0 auto; 
    background-color: white;
}


#blogBody {
    font-family: 'Lobster', 'sans-serif';
    text-align: center;
    margin: 0em;
    padding: 0em;

    /*FUENTES*/
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#header {
    height: 12em;
    width: 100%;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    border-bottom: .3em solid #ccc;
    border-top: 0.313em solid #1950D8;
}

/*articles.php*/
.center {
    width:70%;
    margin: 0em auto;
     display: flex;
        justify-content: space-between;
}


.clearfix {
    clear: both;
    float: none;
}

#logo {
    width: 40%;
    font-size: 1.875em;
    float: left;
    margin-top: 1em;
}

#logo img {
    display: block;
    float: left;
    height: 7em;
    margin-top: -1.2em;
    margin-right: 1em;
    animation: latir infinite 5s linear;
}

@keyframes latir {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.02, 1.02);
    }

    55% {
        transform: scale(0.95, 0.95);
    }

    100% {
        transform: scale(1, 1);
    }
}

#brand {
    display: block;
    margin-top: 1.3em;
    float: left;
}

#menu {
    margin-top: 1.6em;
    width: 60%;
    float: right;
    font-size: 1.1em;
}

#menu ul {
    line-height: 5.313em;
    width: 60%;
    float: right;
}

#menu ul li {
    display: inline-block;
    list-style: none;
    height: 2.875em;
    margin-left: 0.938em;
    margin-right: 0.938em;
}

#menu a {
    text-decoration: none;
    color: #444;
    transition: 300ms all;
    position: relative;
    display: inline-block;
}


#menu a:hover {
    color: #1950D8;
}


#menu a.animacion::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 0.125em;
    bottom: 0.938em;
    left: 50%;
    background-color: #0B3AAE;
    transform: translateX(-50%);
    transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

#menu a.animacion:hover::before {
    width: 100%;
    background-color: #6187E8;
}

#slider {
    width: 100%;
    height: 9em;
    /*line-height: 20em;*/
    color: black;
    text-shadow: 0em 0em 0.313em #444;
    
    /*DEGRADADO CSS*/
    background: rgb(139, 168, 239);
    background: -moz-radial-gradient(circle, rgba(139, 168, 239, 1) 30%, rgba(97, 135, 232, 1) 57%);
    background: -webkit-radial-gradient(circle, rgba(139, 168, 239, 1) 30%, rgba(97, 135, 232, 1) 57%);
    background: radial-gradient(circle, rgba(139, 168, 239, 1) 30%, rgba(97, 135, 232, 1) 57%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ba8ef", endColorstr="#6187e8", GradientType=1);

}

#slider h1 {
    margin-top: 0.013em;
    padding: 0em;
    padding-top: .8em;
    text-align: center;
}

.btn-white {
    display: block;
    background: white;
    color: rgb(88, 88, 88);
    padding: 0.625em;
    width: 6em;
    height: 1.2em;
    margin: 0em auto;
    font-size: 1.125em;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;

    box-shadow: 0em 0em 0.313em rgb(88, 88, 88);

    border-radius: 0.25em;
    transition: 300ms all;
}

.btn-white:hover {
    background: #444;
    color: white;
}

#slider.slider-big {
    height: 9.375em;
}
#slider.slider-big h1 {
    margin-top: 0.013em;
    padding: 0em;
    padding-top: 1.8em;
}

#slider.slider-small {
    height: 9.375em;
}


#slider.slider-small h1 {
    margin-top: 0.013em;
    padding: 0em;
    padding-top: 1.8em;
}

#prueba{
    margin: 15px auto;
    height: 100%;
    width: 80%;
 
}

#content{
    border: 2px solid rgba(0, 0, 0, 0.349);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%;
    height: 90%;
    float: left;
    min-height: 40.625em;
    margin-right: 1.25em;
    position: relative; /* Añade position: relative; al #content */

}


#content .article-item {
    font-size: 1.5em; 
    margin-bottom: 2.2em;
  
}

#content h2 {
    font-size: 2em; 
    
}

#content p {
    line-height: 1.8em; 
    
}
#content .subheader .new {
    width: 3em;
    height: auto;
    margin-left: 1em;
}

#sidebar {
    width: 25%;
    float: left;
}

.sidebar-item {
    background: #f7f7f7;
    padding: 1.25em;
    margin-top: 1.875em;
    border-radius: 10px;
}

.sidebar-item h3 {
    text-transform: uppercase;
    font-size: 1.125em;
    margin: 0em;
    padding-bottom: 0.625em;
    margin-bottom: 0.625em;
    border-bottom: 0.188em solid #eee;
}

.sidebar-item .btn {
    margin: 0em auto;
    margin-top: 0.625em;
}

.btn-sesion {
    display: block;
    background: #1950D8;
    color: white;
    padding: .8em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8em;
    text-decoration: none;
    max-width: 10em;
    border: none;
    cursor: pointer;
    border-radius: 20%;
    position: relative;
    overflow: hidden;
}

.btn-sesion::before {
    content: '';
    position: absolute;
    background: rgba(51.8, 5.9, 84.7, 0.685);
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    z-index: 1;
    transition: transform 0.5s, opacity 0.5s;
    pointer-events: none;
}

.btn-sesion:hover::before {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
}


@keyframes pulse {
    0% {
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

#cargarMasBtn{

    background: black;
    color: white;
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.875em;
    text-decoration: none;
    max-width: 10em;
    transition: 300ms all;
    border: none;
    cursor: pointer;
    
    position: absolute;
    bottom: 20px; /* Ajusta esta distancia según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    /* Otros estilos */
    padding: 10px 20px;
   
}
#cargarMasBtn:hover {
    border: 2px solid  #6187E8;
    color:  #6187E8;
  }

.btn {
    display: block;
    background: black;
    color: white;
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.875em;
    text-decoration: none;
    max-width: 10em;
    transition: 300ms all;
    border: none;
    cursor: pointer;
}

/*ENLACES ANUNCIOS*/


.link-container {
    display: flex; 
    justify-content: flex-start; 
    margin-top: 10px; 
  }
  
  .link {
    width: 15px;
    background-color: rgba(44, 62, 80, 0.336);
    border: 2px solid black;
    padding: 10px 15px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  }
  
  .edit:hover {
    border: 2px solid #6187E8;
    color: #6187E8;
  }
  
  .read-more:hover {
    border: 2px solid #AC5AE8;
    color: #AC5AE8;
  }
  
  .delete:hover {
    border: 2px solid #c0392b;
    color: #c0392b;
  }
  
  .link:hover {
    background-color: white;
  }

/*FORMULARIO ANUNCIOS*/

#editarAnuncio {
    display: none;
    width: 50%;

}
.form_anuncios {
    max-width: 25em;
    margin: 1.25em auto;
    padding: 1.25em;
    background-color: #f5f5f5;
    border: 0.063em solid rgba(0, 0, 0, 0.349);
    border-radius: 10px;
    box-shadow: 0px 0px 10px #3D6CE1; 
}

.form_anuncios label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.form_anuncios input[type="text"],
.form_anuncios input[type="number"],
.form_anuncios textarea,
.form_anuncios select {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 0.75em;
    box-sizing: border-box;
    border: 0.063em solid #ccc;
    border-radius: 0.25em;
}

.form_anuncios select {
    background-color: white; 
}

.form_anuncios input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 0.625em 0.938em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    transition: background 0.3s;
}

.form_anuncios input[type="submit"]:hover {
    background-color: #45a049;
}



/* Estilos del clearfix para limpiar los flotantes */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}





#footer {
    background: #f7f7f7;
    width: 100%;
    height: 4.375em;
    line-height: 4.375em;
    color: #444;
}

#footer p {
    margin: 0em;
    padding: 0em;
}

.article-item {
    width: 100%;
    border-bottom: 0.063em solid #eee;
    padding-bottom: 1.25em;
    padding-top: 1.25em;
    text-align: left;
}

.article-item .image-wrap {
    width: 8.125em;
    height: 8.125em;
    overflow: hidden;
    float: left;
    margin-right: 0.938em;
    border: 0.063em solid #ccc;
}

.article-item .image-wrap img {
    height: 100%;
}

.article-item h2 {
    display: block;
    width: 100%;
    padding: 0em;
    margin: 0em;
    margin-bottom: 0.438em;
}

.article-item .date {
    display: block;
    width: 100%;
    color: rgb(122, 122, 122);
}

.article-item a {
    display: block;
    color: #444;
    text-decoration: none;
    margin-top: 0.625em;
}

.article-item a:hover {
    text-decoration: underline;
}

.subheader {
    font-size: 2.375em;
    border-bottom: 0.063em solid #eee;
    padding-bottom: 0.625em;
}

.article-detail .image-wrap {
    float: none;
    width: 100%;
    height: 18.75em;
    text-align: center;
}

.article-detail .image-wrap img {
    width: 100%;
    height: auto;
}

.article-detail .subheader {
    margin-top: 0.938em;
    margin-bottom: 0em;
    border: none;
}
.image-wrap-detalle {
    width: 100%; /* Ajusta el ancho según tus necesidades */
    overflow: hidden; /* Asegura que el contenido recortado no se muestre fuera del contenedor */
}
.image-wrap-detalle img {
    width: 30%; /* Ajusta el ancho según tus necesidades */
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%); /* Recorta la mitad superior de la imagen */
}



#content-imagenes-anuncio {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#carrusel {
    display: flex;
    overflow: hidden;
    width: 100%;
    transition: transform 0.5s;
    max-width: 500px;
    min-width: 500px;
    margin: 0 auto;
}

#carrusel img {
   
    width: 100%;
    height: 450px; /* Puedes ajustar la altura según tus necesidades */
    object-fit: cover;
}


button {
    cursor: pointer;
}

#anterior, #siguiente {
    position: absolute;
    margin: 0 10px; /* Espacio entre las flechas */
  font-size: 20px; /* Tamaño del texto de las flechas */
    padding: 10px;
    font-size: 24px;
    border: none;
    background-color: rgba(0, 0, 0, 0.116);
    color: #fff;
    border-radius: 5px;
    width: 40px;
    bottom: 0;
    background-color: #3d6be13b;
}

#anterior{
    left: 0;
}

#siguiente{
    right: 0;
}




/*RESPONSIVE*/

/*Desde la anchura 963px hasta la anchura 1488px de pantalla*/
@media (max-width: 5000px) {
    .center {
        width: 95%;
    }

    #brand {
        margin-left: -0.063em;
    }

    #logo {
        width: 50%;
    }

    #menu {
        width: 50%;
    }

    #menu ul {
        width: 97%;
    }
}


@media (max-width: 1390px) {
    #logo {
        width: 30%;
    }

    #brand {
        display: none;
    }

    #menu {
        width: 70%;
    }
}

@media (max-width: 990px) {

    #logo {
        display: flex;
        justify-content: center;
        width: 100%;
    }


    #header {
        height: 17em;
        display: flex;
        flex-direction: column;
        min-height: 8.125em;
        flex-direction: column-reverse;

    }

    #menu,
    #menu ul {
        clear: both;
        float: none;
        width: 100%;
        margin: 0em;
        padding: 0em;
        line-height: 2.688em;
    }

    #content {
        float: none;
        width: 100%;
    }

    #sidebar {
        float: none;
        width: 60%;
        margin: 0em auto;
        margin-bottom: 3.125em;
    }

    #slider h1 {
        padding-top: 7.188em;
        font-size: 1.563em;
    }

    .mid-form {
        width: 70%;
    }
}

@media (max-width: 650px) {
    #logo {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #header {
        height: 17em;
        display: flex;
        flex-direction: column;

        flex-direction: column-reverse;

    }


    #menu ul {

        line-height: 3.125em;
    }

    #menu {
        width: 100%;
    }

    #menu ul li {
        margin-left: 0.438em;
        margin-right: 0.438em;
    }

    #slider {
        height: 11.25em;
    }

    #slider h1 {
        font-size: 1.188em;
        padding-top: 4em;
    }

    #slider .btn-white {
        margin-top: 1.25em;
    }

    #slider.slider-small {
        height: 6.25em;
    }

    #slider.slider-small h1 {
        padding-top: 1.8em;
    }
}

@media (max-width: 599px) {

    #logo {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #brand {
        display: none;
    }

    #header {
        height: 17em;
        display: flex;
        flex-direction: column;

        flex-direction: column-reverse;

    }

    #menu ul {

        line-height: 3.125em;
    }



    #menu ul li {
        margin-left: 0.438em;
        margin-right: 0.438em;
    }

    #slider {
        height: 11.25em;
    }

    #slider h1 {
        font-size: 1.188em;
        padding-top: 1.6em;
    }

    #slider .btn-white {
        margin-top: 1.25em;
    }

    #slider.slider-small {
        height: 6.25em;
    }

    #slider.slider-small h1 {
        padding-top: 2.188em;
    }
}

@media (max-width: 560px) {

    #logo {

        display: none;

    }

    #brand {
        display: none;
    }

    #header {
        height: auto;


    }

    #menu ul {

        line-height: 3.125em;
    }



    #menu ul li {
        margin-left: 0.438em;
        margin-right: 0.438em;
    }

    #slider {
        height: 12.5em;
    }

    #slider h1 {
        font-size: 1.188em;
        padding-top: 1.875em;
    }

    #slider .btn-white {
        margin-top: 1.25em;
    }

    #slider.slider-small {
        height: 6.25em;
    }

    #slider.slider-small h1 {
        padding-top: 2.188em;
    }
}

  
/* Keyframes para la animación */
@keyframes moveWave {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  #slider.slider-big {
    position: relative;
    width: 100%;
    height: 9em;
    overflow: hidden; /* Evita el desbordamiento de la ola */
    background: rgb(139, 168, 239);
    background: -moz-radial-gradient(circle, rgba(139, 168, 239, 1) 30%, rgba(97, 135, 232, 1) 57%);
    background: -webkit-radial-gradient(circle, rgba(139, 168, 239, 1) 30%, rgba(97, 135, 232, 1) 57%);
    background: radial-gradient(circle, rgba(139, 168, 239, 1) 30%, rgba(97, 135, 232, 1) 57%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ba8ef", endColorstr="#6187e8", GradientType=1);
  }
  
  #slider.slider-big h1 {
    margin-top: 0.013em;
    padding: 0em;
    padding-top: .8em;
    text-align: center;
  }
  
  #slider.slider-big .wave {
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 100%; 
    height: 50em; 
    background: linear-gradient(to right, rgba(139, 167, 239, 0.5) 10%, rgba(97, 135, 232, 0.39) 20%, rgba(139, 167, 239, 0.185) 30%);
    animation: moveWave 15s linear infinite;
    animation-delay: -7.5s; 
  }
  #slider.slider-small {
    position: relative;
    width: 100%;
    height: 9em;
    overflow: hidden; 
    background: rgb(139, 168, 239);
    background: -moz-radial-gradient(circle, rgba(139, 168, 239, 1) 30%, rgba(97, 135, 232, 1) 57%);
    background: -webkit-radial-gradient(circle, rgba(139, 168, 239, 1) 30%, rgba(97, 135, 232, 1) 57%);
    background: radial-gradient(circle, rgba(139, 168, 239, 1) 30%, rgba(97, 135, 232, 1) 57%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ba8ef", endColorstr="#6187e8", GradientType=1);
  }
  
  #slider.slider-small h1 {
    margin-top: 0.013em;
    padding: 0em;
    padding-top: .8em;
    text-align: center;
  }
  #slider.slider-small .wave {
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 100%; 
    height: 25em; 
    background: linear-gradient(to right, rgba(139, 167, 239, 0.5) 10%, rgba(97, 135, 232, 0.39) 20%, rgba(139, 167, 239, 0.185) 30%);
    animation: moveWave 15s linear infinite;
    animation-delay: -7.5s; 
  }
  
  
  